.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
.style38 {
  background-color: #f6f8f9;
  display: flex;
  width: 100%;
  height: 5vh;
  align-items: center
}
.style39 {
  color: #fa6980;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  margin-left: 1.3888888888888888vw;
  height: 30%
}
.style40,
.style41,
.style42,
.style43 {
  font-family: Helvetica,serif;
  font-size: .7638888888888888vw;
  font-weight: 700;
  height: 24%
}
.style40 {
  color: #343638;
  margin-left: 71.18055555555556vw
}
.style41,
.style42,
.style43 {
  color: rgba(52,54,56,.5);
  margin-left: 1.875vw
}
.style41,
.style42 {
  margin-left: 1.5277777777777777vw
}
.style44 {
  margin-left: 2.7777777777777777vw;
  width: 2.083%;
  height: 60%
}
.desktop1row1 {
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 60vh;
  align-items: center
}
.style0 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk1bp1k8han7ip.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  width: 58.333%;
  height: 100%;
  flex-direction: column
}
.style6 {
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  line-height: 42px;
  margin-left: 23.333333333333332%;
  margin-top: 7.375vh;
  width: 71.428%
}
.style1,
.style2,
.style6 {
  color: #fff;
  font-family: Helvetica,serif
}
.style2 {
  font-weight: 700;
  margin-left: 23.333333333333332%;
  font-size: 1.6666666666666667vw;
  line-height: 34px;
  margin-top: 3.3333333333333335vh;
  width: 71.428%
}
.style1 {
  font-size: 1.1111111111111112vw;
  line-height: 26px;
  margin-top: .4166666666666667vh;
  width: 66.666%;
  align-self: center
}
.style3,
.style4 {
  display: flex;
  align-items: center
}
.style3 {
  margin-left: 23.333333333333332%;
  margin-top: 1.25vh;
  width: 15.952%;
  height: 6.666%
}
.style4 {
  background-color: #fa6980;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px
}
.style5 {
  color: #fff;
  text-align: center;
  font-family: Helvetica,serif;
  font-size: .7638888888888888vw;
  font-weight: 700;
  line-height: 20px;
  width: 55.223%
}
.style72 {
  background-color: #fff;
  display: flex;
  margin-left: 0;
  width: 41.666%;
  height: 100%;
  flex-direction: column
}
.desktop1row1container20row0 {
  display: flex;
  margin-left: 16.666666666666668%;
  margin-top: 4.166666666666667vh;
  width: 63.333%;
  height: 3.333%;
  align-items: center
}
.style73 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  line-height: 20px;
  margin-left: 0;
  width: 87.105%
}
.style76 {
  position: relative;
  display: flex;
  margin-left: 22.77777777777778vw;
  width: 1.578%;
  height: 50%;
  align-items: center;
  flex-direction: column
}
.style77 {
  width: 100%;
  height: 100%
}
.style74 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  width: 1.578%;
  height: 50%;
  align-items: center;
  flex-direction: column
}
.style75 {
  width: 100%;
  height: 100%
}
.style79 {
  display: flex;
  margin-left: 16.666666666666668%;
  margin-top: 3.3333333333333335vh;
  width: 63.333%;
  height: 49.833%
}
.desktop1row1container20container23column0 {
  display: flex;
  margin-left: 0;
  width: 110.526%;
  height: 99.665%;
  align-self: stretch;
  flex-direction: column
}
.style80 {
  color: #fa6980;
  font-family: Helvetica,serif;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  width: 100%;
  align-self: stretch
}
.style80,
.style81,
.style82 {
  font-size: 1.1111111111111112vw
}
.style81 {
  font-weight: 700;
  align-self: stretch;
  color: #202124;
  font-family: Helvetica,serif;
  line-height: 20px;
  margin-top: .8333333333333334vh;
  width: 100%
}
.style82 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  line-height: 26px;
  margin-top: .4166666666666667vh;
  width: 90.476%
}
.desktop1row1container20container23column0row3 {
  display: flex;
  margin-top: .4166666666666667vh;
  width: 20%;
  height: 5.369%;
  align-items: center
}
.style84 {
  display: flex;
  margin-left: 0;
  width: 19.047%;
  height: 100%;
  align-items: center;
  flex-direction: column
}
.style85 {
  width: 100%;
  height: 100%
}
.style83,
.style86 {
  font-family: Helvetica,serif
}
.style83 {
  font-size: .9027777777777778vw;
  margin-left: .6944444444444444vw;
  color: #a6adb4;
  line-height: 26px;
  width: 69.047%
}
.style86 {
  color: #fa6980;
  font-weight: 700;
  line-height: 20px;
  margin-top: 1.6666666666666667vh;
  width: 100%;
  align-self: stretch
}
.style86,
.style87,
.style88 {
  font-size: 1.1111111111111112vw
}
.style87 {
  font-weight: 700;
  align-self: stretch;
  color: #202124;
  font-family: Helvetica,serif;
  line-height: 20px;
  margin-top: .8333333333333334vh;
  width: 100%
}
.style88 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  line-height: 26px;
  margin-top: .4166666666666667vh;
  width: 90.476%
}
.desktop1row1container20container23column0row7 {
  display: flex;
  margin-top: .4166666666666667vh;
  width: 20%;
  height: 5.369%;
  align-items: center
}
.style90 {
  display: flex;
  margin-left: 0;
  width: 19.047%;
  height: 100%;
  align-items: center;
  flex-direction: column
}
.style91 {
  width: 100%;
  height: 100%
}
.style89 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 26px;
  margin-left: .6944444444444444vw;
  width: 69.047%
}
.desktop1row2 {
  display: flex;
  margin-left: 9.72%;
  margin-top: 4%;
  width: 80.555%;
  height: 2vh;
  align-items: center
}
.style67 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  line-height: 20px;
  margin-left: 0;
  width: 88.362%
}
.style70 {
  display: flex;
  margin-left: 5.763888888888889vw;
  width: .517%;
  height: 50%;
  align-items: center;
  flex-direction: column
}
.style71 {
  width: 100%;
  height: 100%
}
.style68 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  width: .517%;
  height: 50%;
  align-items: center;
  flex-direction: column
}
.style69 {
  width: 100%;
  height: 100%
}
.style45 {
  display: flex;
  margin-left: 9.72%;
  margin-top: 4%;
  width: 80.555%;
  height: 35vh;
  justify-content: space-between
}
.style46,
.style47 {
  position: relative;
  display: flex
}
.style47 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk1bp1k8hana34.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  align-items: center;
  flex-direction: column;
  width: 31.034%;
  height: 51.428%
}
.style46 {
  background-color: #fff;
  margin-top: 7.083333333333333vh;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 6px 6px
}
.desktop1container11image8container12column0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 13.88888888888889%;
  width: 77.777%;
  height: 50%;
  flex-direction: column
}
.style48,
.style49 {
  width: 100%;
  align-self: stretch
}
.style48 {
  font-weight: 700;
  margin-top: 0;
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  line-height: 20px
}
.style49 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  line-height: 23px;
  margin-top: .4166666666666667vh
}
.desktop1container11image8container12column0row2 {
  display: flex;
  margin-top: .4166666666666667vh;
  width: 24.642%;
  height: 17.777%;
  align-items: center
}
.style51 {
  display: flex;
  margin-left: 0;
  width: 23.188%;
  height: 100%;
  align-items: center;
  flex-direction: column
}
.style52 {
  width: 100%;
  height: 100%
}
.style50 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: .6944444444444444vw;
  height: 93.75%
}
.style53,
.style54 {
  position: relative;
  display: flex
}
.style54 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk1bp1k8hanbpn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  align-items: center;
  flex-direction: column;
  width: 31.034%;
  height: 51.428%
}
.style53 {
  background-color: #fff;
  margin-top: 7.083333333333333vh;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 6px 6px
}
.desktop1container11image10container14column0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 13.88888888888889%;
  width: 77.777%;
  height: 50%;
  flex-direction: column
}
.style55,
.style56 {
  width: 100%;
  align-self: stretch
}
.style55 {
  font-weight: 700;
  margin-top: 0;
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  line-height: 20px
}
.style56 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  line-height: 23px;
  margin-top: .4166666666666667vh
}
.desktop1container11image10container14column0row2 {
  display: flex;
  margin-top: .4166666666666667vh;
  width: 23.571%;
  height: 17.777%;
  align-items: center
}
.style58 {
  display: flex;
  margin-left: 0;
  width: 24.242%;
  height: 100%;
  align-items: center;
  flex-direction: column
}
.style59 {
  width: 100%;
  height: 100%
}
.style57 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: .6944444444444444vw;
  height: 93.75%
}
.style60,
.style61 {
  position: relative;
  display: flex
}
.style61 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk1bp1k8hancqp.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  align-items: center;
  flex-direction: column;
  width: 31.034%;
  height: 51.428%
}
.style60 {
  background-color: #fff;
  margin-top: 7.083333333333333vh;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 6px 6px
}
.desktop1container11image12container16column0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 13.88888888888889%;
  width: 77.777%;
  height: 50%;
  flex-direction: column
}
.style62,
.style63 {
  width: 100%;
  align-self: stretch
}
.style62 {
  font-weight: 700;
  margin-top: 0;
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  line-height: 20px
}
.style63 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  line-height: 23px;
  margin-top: .4166666666666667vh
}
.desktop1container11image12container16column0row2 {
  display: flex;
  margin-top: .4166666666666667vh;
  width: 23.571%;
  height: 17.777%;
  align-items: center
}
.style65 {
  display: flex;
  margin-left: 0;
  width: 24.242%;
  height: 100%;
  align-items: center;
  flex-direction: column
}
.style66 {
  width: 100%;
  height: 100%
}
.style64 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: .6944444444444444vw;
  height: 93.75%
}
.desktop1row4 {
  display: flex;
  margin-left: 9.72%;
  margin-top: 4%;
  width: 80.555%;
  height: 2vh;
  align-items: center
}
.style8 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  line-height: 20px;
  margin-left: 0;
  width: 66.379%
}
.style94 {
  display: flex;
  margin-left: 23.47222222222222vw;
  width: .517%;
  height: 50%;
  align-items: center;
  flex-direction: column
}
.style95 {
  width: 100%;
  height: 100%
}
.style92 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  width: .517%;
  height: 50%;
  align-items: center;
  flex-direction: column
}
.style93 {
  width: 100%;
  height: 100%
}
.desktop1row5,
.style112 {
  display: flex;
  align-items: center
}
.desktop1row5 {
  margin-top: 4%;
  height: 90vh;
  margin-left: 9.72%;
  width: 80.555%
}
.style112 {
  margin-left: 0;
  width: 65.517%;
  height: 100%;
  flex-direction: column
}
.style113 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk1bp1k8hanimo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 47.777%
}
.desktop1row5container32image29column0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  width: 90.789%;
  height: 81.395%;
  align-self: center;
  flex-direction: column
}
.style114,
.style115,
.style119 {
  color: #fff;
  font-family: Helvetica,serif
}
.style119 {
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  align-self: stretch;
  width: 100%
}
.style114,
.style115 {
  width: 98.55%
}
.style115 {
  font-weight: 700;
  font-size: 1.6666666666666667vw;
  line-height: 34px;
  margin-top: 9.666666666666666vh
}
.style114 {
  font-size: 1.1111111111111112vw;
  line-height: 26px;
  margin-top: .4166666666666667vh
}
.desktop1row5container32image29column0row3 {
  display: flex;
  margin-top: .4166666666666667vh;
  width: 9.71%;
  height: 4.571%;
  align-items: center
}
.style117 {
  display: flex;
  margin-left: 0;
  width: 23.88%;
  height: 100%;
  align-items: center;
  flex-direction: column
}
.style118 {
  width: 100%;
  height: 100%
}
.style116 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: .5555555555555556vw;
  height: 93.75%
}
.style120 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk1bp1k8hanj34.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 1.6666666666666667vh;
  width: 100%;
  height: 47.777%
}
.desktop1row5container32image31column0 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  width: 90.789%;
  height: 81.395%;
  align-self: center;
  flex-direction: column
}
.style121,
.style122,
.style126 {
  color: #fff;
  font-family: Helvetica,serif
}
.style126 {
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  align-self: stretch;
  width: 100%
}
.style121,
.style122 {
  width: 98.55%
}
.style122 {
  font-weight: 700;
  font-size: 1.6666666666666667vw;
  line-height: 34px;
  margin-top: 9.666666666666666vh
}
.style121 {
  font-size: 1.1111111111111112vw;
  line-height: 26px;
  margin-top: .4166666666666667vh
}
.desktop1row5container32image31column0row3 {
  display: flex;
  margin-top: .4166666666666667vh;
  width: 9.71%;
  height: 4.571%;
  align-items: center
}
.style124 {
  display: flex;
  margin-left: 0;
  width: 23.88%;
  height: 100%;
  align-items: center;
  flex-direction: column
}
.style125 {
  width: 100%;
  height: 100%
}
.style123 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: .5555555555555556vw;
  height: 93.75%
}
.style96 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  width: 31.034%;
  height: 99.555%;
  flex-direction: column
}
.style97,
.style98 {
  width: 100%;
  align-self: stretch
}
.style98 {
  margin-top: 0;
  height: 23.437%
}
.style97 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  line-height: 26px;
  margin-top: .8333333333333334vh
}
.desktop1row5container28row2 {
  display: flex;
  margin-top: .4166666666666667vh;
  width: 41.944%;
  height: 1.785%;
  align-items: center
}
.style100 {
  display: flex;
  margin-left: 0;
  width: 10.596%;
  height: 100%;
  align-items: center;
  flex-direction: column
}
.style101 {
  width: 100%;
  height: 100%
}
.style99 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: .6944444444444444vw;
  height: 93.75%
}
.style102,
.style103 {
  width: 100%;
  align-self: stretch
}
.style103 {
  height: 23.437%;
  margin-top: 1.6666666666666667vh
}
.style102 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  line-height: 26px;
  margin-top: .8333333333333334vh
}
.desktop1row5container28row5 {
  display: flex;
  margin-top: .4166666666666667vh;
  width: 32.222%;
  height: 1.785%;
  align-items: center
}
.style105 {
  display: flex;
  margin-left: 0;
  width: 13.793%;
  height: 100%;
  align-items: center;
  flex-direction: column
}
.style106 {
  width: 100%;
  height: 100%
}
.style104 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: .6944444444444444vw;
  height: 93.75%
}
.style107,
.style108 {
  width: 100%;
  align-self: stretch
}
.style108 {
  height: 23.437%;
  margin-top: 1.6666666666666667vh
}
.style107 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  line-height: 26px;
  margin-top: .8333333333333334vh
}
.desktop1row5container28row8 {
  display: flex;
  margin-top: .4166666666666667vh;
  width: 35.833%;
  height: 1.785%;
  align-items: center
}
.style110 {
  display: flex;
  margin-left: 0;
  width: 12.403%;
  height: 100%;
  align-items: center;
  flex-direction: column
}
.style111 {
  width: 100%;
  height: 100%
}
.style109 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: .6944444444444444vw;
  height: 93.75%
}
.style9 {
  background-color: #a6adb4;
  display: flex;
  margin-top: 10%;
  width: 100%;
  height: 20vh
}
.style22 {
  color: #fff;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  margin-left: 9.722222222222221vw;
  margin-top: 4.027777777777778%;
  height: 6.5%
}
.desktop1container1column1 {
  display: flex;
  margin-left: 4.375vw;
  width: 4.305%;
  height: 42%;
  align-self: center;
  flex-direction: column;
  justify-content: space-between
}
.style10,
.style13,
.style16,
.style19 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  height: 17.857%
}
.desktop1container1column2 {
  display: flex;
  margin-left: 2.638888888888889vw;
  width: 4.097%;
  height: 42%;
  align-self: center;
  flex-direction: column;
  justify-content: space-between
}
.style11,
.style14,
.style17,
.style20 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  height: 17.857%
}
.desktop1container1column3 {
  display: flex;
  margin-left: 2.8472222222222223vw;
  width: 5.486%;
  height: 42%;
  align-self: center;
  flex-direction: column;
  justify-content: space-between
}
.style12,
.style15,
.style18,
.style21 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  height: 17.857%
}
.desktop1container1column4 {
  display: flex;
  margin-left: 15.347222222222221vw;
  margin-top: 4.027777777777778%;
  width: 18.055%;
  height: 33%;
  align-items: center;
  flex-direction: column
}
.style23 {
  background-color: rgba(255,255,255,.10000000149011612);
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 60.606%;
  align-items: center;
  border-radius: 6px
}
.style26 {
  color: rgba(203,208,211,.5);
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 20px;
  margin-left: 1.3888888888888888vw;
  width: 13.461%
}
.style24 {
  display: flex;
  margin-left: 11.73611111111111vw;
  width: 6.153%;
  height: 40%;
  align-items: center;
  flex-direction: column
}
.style25 {
  width: 100%;
  height: 100%
}
.style27 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .7638888888888888vw;
  line-height: 20px;
  margin-top: .6666666666666666vh;
  width: 100%
}
.style34 {
  display: flex;
  margin-left: 9.722222222222221vw;
  margin-top: 3.888888888888889%;
  width: 1.111%;
  height: 8%;
  align-items: center;
  flex-direction: column
}
.style35 {
  width: 100%;
  height: 100%
}
.style31,
.style32 {
  display: flex;
  align-items: center
}
.style31 {
  margin-left: 2.2222222222222223vw;
  margin-top: 3.888888888888889%;
  flex-direction: column;
  width: 1.111%;
  height: 8%
}
.style32 {
  background-color: #fff;
  width: 100%;
  height: 100%
}
.style33 {
  width: 100%;
  height: 81.109%
}
.style28,
.style29 {
  display: flex;
  align-items: center
}
.style28 {
  margin-left: 2.2222222222222223vw;
  margin-top: 3.888888888888889%;
  flex-direction: column;
  width: 1.111%;
  height: 8%
}
.style29 {
  background-color: #fff;
  width: 100%;
  height: 99.993%
}
.style30 {
  width: 52.222%;
  height: 100%
}
.style36 {
  display: flex;
  margin-left: 2.2222222222222223vw;
  margin-top: 3.888888888888889%;
  width: 1.111%;
  height: 8%;
  align-items: center;
  flex-direction: column
}
.style37 {
  width: 100%;
  height: 100%
}